<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Currículo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="g1">

  </ion-grid>
  <ion-grid  class="g2">

    <img class="i" src="/assets/cv.jpg" />
    <b>
      <p class="p">Kevin Curay</p>
    </b>
    <p class="p2">Tecnología en Análisis de Sistemas Informáticos</p>

  </ion-grid>

  <ion-header>
    <ion-toolbar>
      <ion-title class="contEdad">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="welcome-card bg-card">
    <ion-card-content>
      <p>Profesional en formación cursando el sexto semestre de la carrera de Tecnología en Análisis de Sistemas
        Informáticos de la Escuela Politécnica Nacional.</p>
      <p>Con conocimientos en varios lenguajes de programación, gestores de bases de datos, manejo de sistemas
        operativos y redes de computadoras.</p>
      <p>Alto sentido de responsabilidad, compromiso, adaptable al entorno, paciente, facilidad de comunicación,
        capacidad para trabajar en equipo y bajo presión.</p>
    </ion-card-content>
  </ion-card>

  <ion-header>
    <ion-toolbar>
      <ion-title class="contEdad">Datos Personales</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-label class="subtitulo">CI</ion-label>
      <ion-text class="sub">0503908857</ion-text>
    </ion-item>
  
    <ion-item>
      <ion-label class="subtitulo">Dirección</ion-label>
      <ion-text class="sub">Calle la cocha y E5, sector Beaterio</ion-text>
    </ion-item>
  
    <ion-item>
      <ion-label class="subtitulo">Ciudad</ion-label>
      <ion-text class="sub">Quito</ion-text>
    </ion-item>
  
    <ion-item href="#">
      <ion-label class="subtitulo">Lugar Nacimiento</ion-label>
      <ion-text class="sub">Latacunga, Cotopaxi</ion-text>
    </ion-item>
  </ion-card>


</ion-content>