<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Formación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../assets/fondo1.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Escuela Politécnica Nacional
        </ion-card-title>
      <p>
        <b>Nivel:</b> 6to Semestre – Tecnología en Análisis en Sistemas Informático.
        <br>
        <b>Año:</b> 2019
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/cole.jpg" height="150px"/>
    <ion-card-content>
      <ion-card-title>
        Colegio Militar N° 13 “Patria” 
        </ion-card-title>
      <p>
        <b>Título:</b> Bachillerato General Unificado.
        <br>
        <b>Año:</b> 2015
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/english.jpg" height="150px"/>
    <ion-card-content>
      <ion-card-title>
        Centro de Educación Continua de Escuela Politécnica Nacional
        </ion-card-title>
      <p>
        <b>Idioma:</b> Inglés
        <br>
        <b>Nivel:</b> Avanzado
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
