.titulo{
    font-family: 'Press Start 2P', cursive; 
}

.contEdad{
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 20px;
}

ion-text{
    font-size: 15px;
    padding: 13px 5px;
}
